h1,
h2,
h3, 
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.columns > * {
    display: inline-block;
    width: 240px;
    padding: 12px;
    margin:12px;
    border-radius: 3px;
    background: #ebecf0;
}
